body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px; */
}

button {
    border-radius: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.container {
    background: #1F2937;
}

.hook {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hookdes {
    color: #F9FAF8;
    font-size: 18px;
}

.button-one {
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #3882f6;
}

.button-two {
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.wholeinfo {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    padding: 70px;
}

.quotepage {
    background-color: #E5E7EB;
    padding: 80px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    padding: 20px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 900;
    align-items: flex-end;
}

.call-action {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

}

.img-top {
    width: 500px;
    height: 250px;
    border-radius: 0%;
}