body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px; */
    padding: 30px;
}

button {
    border-radius: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.container {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hook {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-shrink: 0;
    width: 500px;
}

.hookdes {
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    flex-shrink: 0;
    width: 450px;
    flex-grow: 1;
}

.button-one {
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #3882f6;
    display: flex;
    flex-grow: 1;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}


.button-two {
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #3882f6;
    padding: 20px;
    height: 2px;
    width: 100px;
    display: flex;
    align-items: center;
    border-color: #E5E7EB;
    box-shadow: #E5E7EB;
    font-weight: 600;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding-top: 40px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.wholeinfo {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    padding-bottom: 90px;
}

.quotepage {
    background-color: #E5E7EB;
    padding: 80px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    padding: 20px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    align-items: flex-end;
}

.call-action {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #3882f6;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    gap: 16px;
    padding: 30px;
    color: #F9FAF8;
}

.call-next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 150px;
}

.img-top {
    width: 500px;
    height: 250px;
    border-radius: 0%;
}

.action {
    font-size: 15px;
}
